@media screen and (max-width: 1279px) {
  .bio-box {
    flex-direction: column;
    align-items: center;
  }
  .bio {
    text-align: start;
  }
  .bio-text {
    text-align: start;
  }
  .service-box {
    height: 1500px;
  }
  .service-grid {
    grid-template-columns: repeat(2, 285px);
    grid-template-rows: repeat(8, 360px);
    grid-template-areas:
      "service-box1 service-box2"
      "service-box3 service-box4"
      "service-box5 service-box6"
      "service-box7 service-box8";
  }
  .side-bar {
    display: none;
  }
  .project-grid {
    gap: 20px;
  }
}

@media (max-width: 1024px) {
  .slider img {
    height: 600px;
  }
  .slider {
    height: 600px;
  }
  .title {
    top: 75px;
    font-size: 30px;
    right: 30px;
    width: auto;
  }
  .title-number {
    font-size: 100px;
    right: 50px;
    width: auto;
  }
  .introduction-box {
    text-align: right;
    top: 185px;
  }
  .introduction-p {
    font-size: 30px;
  }
  .introduction-name {
    font-size: 40px;
    width: 350px;
  }
  .media-box img {
    width: 30px;
    height: 30px;
  }
  .slogan {
    top: 500px;
    right: 50px;
    text-align: right;
    width: 300px;
  }
  .info-box {
    height: auto;
  }
  .icon-boxes {
    flex-direction: column;
    align-items: start;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .recommendations {
    top: 151px;
  }
  .recommendations-slider {
    flex-direction: column-reverse;
  }
  .recommendations-slider-p {
    text-align: left;
    width: 50%;
    height: auto;
  }
  .recommendator {
    display: none;
  }
  .recommendator-info {
    margin-top: 30px;
    width: 50%;
  }
  .recommendator-name {
    margin-bottom: 10px;
  }
  .dots {
    display: flex;
    width: 50%;
    gap: 20px;
  }
  .dot {
    width: 20px;
    height: 20px;
  }
  .project-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .article-grid {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    gap: 20px;
  }
  .article-date {
    display: none;
  }
  .article-photo2 {
    order: 3;
  }
  .article2 {
    order: 2;
  }
  .article-box {
    width: auto;
    margin-left: 0px;
  }
  .article-box img {
    margin-bottom: 30px;
  }
  .article-p {
    width: 90%;
    height: auto;
  }
  .article-p a {
    font-size: 20px;
    font-weight: bolder;
    color: #e93656;
  }
  .partner-logo-box {
    flex-wrap: wrap;
  }
  .form-grid {
    display: flex;
    flex-direction: column;
    width: 290px;
    margin-top: 30px;
  }
  .contact-box h3 {
    font-size: 20px;
  }
  .contact-box p {
    display: none;
  }
  .form-grid textarea {
    width: 290px;
  }
  .message-button {
    margin-left: 17%;
    height: 50px;
  }
}
@media (max-width: 768px) {
  .logo {
    left: 30px;
  }
  .slider-image1 {
    object-position: 20%;
    opacity: 0.5;
  }
  .title {
    display: none;
  }
  .title-number {
    display: none;
  }
  .introduction-box {
    text-align: right;
    top: 185px;
  }
  .introduction-p {
    font-size: 20px;
  }
  .introduction-name {
    font-size: 30px;
    width: 250px;
  }
  .introduction-profession {
    font-size: 15px;
  }
  .media-box img {
    width: 30px;
    height: 30px;
  }
  .slogan {
    top: 500px;
    right: 50px;
    text-align: right;
    width: 200px;
    height: 35px;
  }
  .slogan p {
    font-size: 15px;
  }
  .bio-image {
    width: 250px;
  }
  .service-grid {
    grid-template-columns: repeat(1, 285px);
    grid-template-rows: repeat(16, 180px);
    grid-template-areas:
      "service-box1" "service-box2"
      "service-box3" "service-box4"
      "service-box5" "service-box6"
      "service-box7" "service-box8";
  }
  .roca-box {
    padding: 20px;
  }
  .copyright {
    padding: 20px;
  }
}
